@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #000;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
    margin: auto;

}

.Navbar {
    /* background-color: transparent; */
    /* position: fixed; */
    width: 100%;
}

.Navbar.colorChange {
    background-color: #fff;
    color: #555252;
}

.Navbar.colorChange svg,
.Navbar.colorChange a,
.Navbar.colorChange .logo img {
    color: #555252 !important;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-style: 1.8rem;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;


}

.logo {
    background-color: #171216;
    padding: 12px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.logo img {
    object-fit: cover;
}

.icons {
    cursor: pointer;
}

.icons svg {
    margin: 0 5px;
}

nav ul {
    margin: 0px !important;
    align-items: center;
    padding: 0px !important;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.active-style {
    border-bottom: 1px solid red;
    color: #696969;
}

nav ul li a:hover {
    color: #fff;

}

svg {
    color: #fff;
    margin: 0px 5px;
}

/* Banner section  */

.carousel-item {
    display: block !important;
    opacity: 1 !important;
}

.awssld__bullets {
    display: none !important;
}

div.position-absolute {
    top: 50%;
    left: 41%;
    color: #fffefe;
}

.awssld__content {
    background: none !important;
    display: block !important;

}

.awssld__container {

    padding-bottom: 48% !important;
}

/* Product section  */

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.cards {
    position: relative;
    width: 260px;
    height: 370px;
    cursor: pointer;
}

.cards img {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
}

.description {
    position: absolute;
    z-index: 8;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    visibility: hidden;
    width: 90%;
    height: 85%;
    transition: all .4s ease 0s;
    transform: scale(.85);
    opacity: 0;
    background: hsla(0, 0%, 100%, .9) none repeat scroll 0 0;
}

.product-img-badges {
    position: absolute;
    z-index: 9;
    top: 12px;
    right: 12px;
}

.product-img-badges span {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
    padding: 3px 11px;
    color: #fff;
    border-radius: 3px;
}

.product-img-badges span.pink {
    background-color: #fa6bff;
}

.product-img-badges span.purple {
    background-color: #a749ff;
}

.product-content-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transition: all .4s ease 0s;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cards:hover .description {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.cards svg {
    color: #000;
    cursor: pointer;
}

.cards .icon svg {
    padding: 8px;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 3px;
    transition: all .4s ease-in-out;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: none;
    background-color: #a749ff;
}

.cards .icon svg:hover {
    background-color: #fa6bff;
}

/* Subscribe section */
.Subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 100px;

}

.Subscribe h1 {
    font-size: 48px;
    margin: 0 0 23px;
    color: #010101;
}

.Subscribe p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #696969;

}

.Subscribe form {
    width: 400px;
    margin: auto;
    margin-top: 35px;
}

.Subscribe form input {
    height: 46px;
    text-align: center;
    color: #333;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    background: transparent;
    outline: none;
}

input {
    font-size: 14px;
    width: 100%;
    color: #333;
    box-shadow: none;
}

.Subscribe form button {
    margin-top: 40px;
    font-weight: 500;
    line-height: 1;
    width: auto;
    height: auto;
    padding: 17px 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: none;
    background-color: #070508;
}

form button:hover {
    background-color: #a749ff;
}

/* product-details section  */

.product_details {
    margin: auto;
    margin-top: 144px;
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    background: #f7f7f7;
    padding: 26px;
    margin-bottom: 72px;
    font-weight: 500;
    color: #5b5858;
}

.top a {
    text-decoration: none;
}

.top>span {
    margin: 0 5px;

}

.top>span span {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.product_details .MuiRating-icon svg {
    color: #faaf00 !important;

}

.add_cart {
    display: flex;
    gap: 7px;
    margin: 20px 0px;
}

.add_cart input {
    justify-content: center;
    width: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}

.categories {
    margin: 29px 0px;
}

.details div.del {
    margin: 40px 0px;
    border-bottom: 1px solid;
}

.product-icon {
    display: flex;
    justify-content: space-between;
}

.product-icon ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.product-icon ul svg {
    color: #333;
}

.img {
    margin: 30px 0px;
}

.img>img {
    width: 400px;
}

/* countdown section  */
.count {
    background-color: #f7f7f7;
    margin-bottom: 0px;
    padding: 100px 0;
}

.count-icon {
    max-width: 100%;
    position: relative;
}

.count-icon img {
    width: 50px;
}

.single-count h2>span {
    color: #a749ff;
    font-size: 40px;
    font-weight: 700;
    margin: 2px 0 2px;
    display: inline-block;
}

.single-count span {
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

/* about  section*/
.about>.container {
    padding-bottom: 95px;
    padding-top: 10px;
}

.title h5 {
    font-weight: 500;
    font-size: 16px;
    color: #666;
    margin: 0;
    letter-spacing: .3px;
}

.title h2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .3px;
    margin: 8px 0 30px;
    color: #433f3f;
    position: relative;
    display: inline-block;
    padding: 0 0 23px;
    line-height: 1;
}

.title h2::before {
    position: absolute;
    background-color: #070508;
    height: 3px;
    width: 70px;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

}

.title p {
    font-size: 16px;
    color: #4b4b4b;
    line-height: 30px;
    width: 66%;
    margin: 0 auto;

}

.banner-area {
    padding-bottom: 70px;
}

.single-banner {
    position: relative;
    overflow: hidden;
}

.single-banner a img {
    width: 100%;
    transition: all .5s ease 0s;
    transform: scale(1);
}

a:hover {
    color: #a749ff;
}

.single-banner:hover img {
    transform: scale(1.2);
}

.single-banner .banner-content {
    position: absolute;
    top: 40px;
    left: 36px;
    content: "";
}

.single-banner .banner-content h3 {
    font-family: Cormorant Garamond;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    color: #915342;
}

.single-banner .banner-content h4 {
    font-family: Cormorant Garamond;
    font-size: 18px;
    font-weight: 600;
    margin: 3px 0 58px;
    color: #010101;
}

.single-banner .banner-content h4 span {
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 0 0 0 2px;
    color: #935644;

}

.single-banner .banner-content svg {
    font-size: 14px;
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #97584a;
    border: 2px solid #97584a;
    border-radius: 100%;
}

.about-mission-area {
    padding-bottom: 30px;
}

.single-mission {
    margin-bottom: 30px;
}

.single-mission h3 {
    font-size: 25px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 22px;
    color: #333;
}

.single-mission p {
    margin: 0;
}

.counter {
    position: relative;
}

.single-count .count-icon img {
    font-size: 50px;
    line-height: 1;
    display: inline-block;
}

.our-team {
    padding-top: 95px;
    padding-bottom: 70px;
}

.section-title-2 {
    margin-bottom: 60px;
}

.section-title-2 h2 {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    padding: 0 0 15px;
    color: #000;
}

.section-title-2 h2::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    margin: 0 auto;
    content: "";
    background-color: #000;
}

.section-title-2 p {
    margin: 0;
    color: #333;
}

.team-wrapper {
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.team-wrapper .team-img {
    position: relative;
}

.team-wrapper .team-img img {
    width: 100%;
}

.team-wrapper .team-img .team-action {
    background: #fff none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 70%;
    transform: translateY(-50%);
    transition: all .6s ease 0s;
    width: 100%;
    z-index: 5;
}

.team-wrapper .team-img .team-action a {
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    /* width: 30px; */
    margin: 0 3px;
}

.team-action a .facebook {
    border: 1px solid #3b5998;
    background-color: #3b5998;
    border-radius: 50px;
    color: #fff;
}

.team-action a .facebook:hover {
    background-color: transparent;
    color: #3b5998;
}

.team-wrapper .team-img .team-action a .twitter {
    border: 1px solid #55acee;
    background-color: #55acee;
    border-radius: 50px;
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.team-wrapper .team-img .team-action a .instagram {
    border: 1px solid #c32aa3;
    background-color: #c32aa3;
    border-radius: 50px;
    color: #fff;
}

.team-wrapper .team-img .team-action a .instagram:hover {
    background-color: transparent;
    color: #c32aa3;
}

.team-action a .twitter:hover {
    background-color: transparent;
    color: #55acee;
}

.team-action a svg {
    color: #010101;
    display: flex;
}

.team-wrapper .team-content {
    padding: 20px 10px 23px;
}

.team-wrapper .team-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 3px;
    text-transform: capitalize;
}

.team-wrapper .team-content span {
    font-size: 15px;
    font-style: italic;
}

.team-wrapper:hover .team-action {
    top: 50%;
    opacity: 1;
}

.brand-logo-area {
    padding-bottom: 70px;
}

/* Collection section  */

.shop-area {
    padding-top: 95px;
    padding-bottom: 100px;
}

.sidebar-style {
    margin-right: 30px;
}

.sidebar-widget h4.pro-sidebar-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #333;

}

.pro-sidebar-search {
    margin-top: 25px;
    margin-bottom: 50px;
}

.pro-sidebar-search .pro-sidebar-search-form {
    position: relative;
}

.pro-sidebar-search .pro-sidebar-search-form input {
    font-size: 14px;
    height: 43px;
    padding: 2px 55px 2px 18px;
    color: #000;
    border: 1px solid #e6e6e6;
    background: transparent none repeat scroll 0 0
}

.pro-sidebar-search .pro-sidebar-search-form button {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 7px 15px;
    cursor: pointer;
    transition: all .3s ease 0s;
    transform: translateY(-50%);
    color: #000;
    border: #a1a5aa;
    border-left: 1px solid #a1a5aa;
}

.sidebar-widget-list {
    margin-top: 30px;
}

.sidebar-widget .sidebar-widget-list ul li {
    position: relative;
    align-items: center;
    padding: 0 0 15px;
}


.sidebar-widget .sidebar-widget-list ul li button {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 0 0 30px;
    text-align: left;
    text-transform: capitalize;
    border: none;
    background: none;
}

.sidebar-widget .sidebar-widget-list ul li .sidebar-widget-list-left .checkmark {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #888;
    border-radius: 3px;
    background-color: #fff;

}

.sidebar-widget .sidebar-widget-list ul li a.active>.checkmark,
.sidebar-widget .sidebar-widget-list ul li a:hover>.checkmark,
.sidebar-widget .sidebar-widget-list ul li button.active>.checkmark,
.sidebar-widget .sidebar-widget-list ul li button:hover>.checkmark {
    border-color: #a749ff;
    background-color: #a749ff;
}

.sidebar-widget .sidebar-widget-tag ul li {
    display: inline-block;
    margin: 0 10px 15px 0;
}

.sidebar-widget .sidebar-widget-tag ul li button {
    line-height: 1;
    display: inline-block;
    padding: 9px 17px 12px;
    text-transform: capitalize;
    color: #424242;
    border: none;
    border-radius: 50px;
    background: none;
    background-color: #f6f6f6;
}

.sidebar-widget-tag {
    margin-top: 25px;
}

.sidebar-widget .sidebar-widget-tag ul li button.active,
.sidebar-widget .sidebar-widget-tag ul li button:hover {
    color: #fff;
    background-color: #a749ff;
}

.shop-bottom-area {
    margin-top: 35px;
}

.shop-bottom-area .col-xl-4 {
    transition: .5s;
}

.product-list-image-wrap,
.product-wrap {
    position: relative;
}

.product-wrap {
    margin-bottom: 25px;
}

.product-wrap .product-img {
    position: relative;
    overflow: hidden;
}

.product-wrap .product-img img {
    width: 100%;
}

.product-wrap .product-img-badges {
    position: absolute;
    top: 12px;
    right: 12px;
}

.product-wrap .product-img-badges span.pink {
    background-color: #fa6bff;
}

.product-wrap .product-img-badges span {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
    padding: 3px 11px;
    color: #fff;
    border-radius: 3px;
}

.product-wrap .product-img .product-action .pro-wishlist {
    width: 48px;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
}

.product-list-image-wrap .product-img .product-action>div,
.product-wrap .product-img .product-action>div {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 48px;
    transition: all .5s ease;
    transform: translateY(20px);
    opacity: 0;
    background-color: #a749ff;
}

.product-list-image-wrap .product-img .product-action .pro-same-action a,
.product-list-image-wrap .product-img .product-action .pro-same-action button,
.product-wrap .product-img .product-action .pro-same-action a,
.product-wrap .product-img .product-action .pro-same-action button {
    font-size: 16px;
    line-height: 48px;
    display: block;
    width: 100%;
    height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border: none;
    background: none;
}

.product-wrap .product-img .product-action .pro-cart {
    font-size: 14px;
    width: calc(100% - 96px);
    transition-delay: .1s;
}

.product-list-image-wrap .product-img .product-action .pro-quickview,
.product-wrap .product-img .product-action .pro-quickview {
    width: 48px;
    margin: 0;
    transition-delay: .2s;
    border-left: 1px solid hsla(0, 0%, 100%, .2);
}

.product-list-image-wrap .product-content,
.product-wrap .product-content {
    margin: 20px 0 0;
}

.product-list-image-wrap .product-content h3,
.product-wrap .product-content h3 {
    font-size: 16px;
    margin: 0;
}

.product-list-image-wrap .product-content .product-rating,
.product-wrap .product-content .product-rating {
    margin: 3px 0;
    margin: 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-list-image-wrap .product-content .product-rating i,
.product-wrap .product-content .product-rating i {
    font-size: 17px;
    margin: 0 3px;
    color: #5f5d5d;
}

.product-list-image-wrap .product-content .product-price span,
.product-wrap .product-content .product-price span {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    margin: 0 9px;
    color: #000;
}

.product-list-image-wrap .product-img .product-action,
.product-wrap .product-img .product-action {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform: translateX(-50%);
}

:focus {
    outline: none !important;
}

.product-list-image-wrap .product-img .hover-img,
.product-wrap .product-img .hover-img {
    position: absolute;
    top: 0;
    left: 50%;
    visibility: hidden;
    transition-duration: .7s;
    transform: translate(-50%, 20px);
    opacity: 0;
}

.product-list-image-wrap .product-img .product-action>div,
.product-wrap .product-img .product-action>div {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 48px;
    transition: all .5s ease;
    transform: translateY(20px);
    opacity: 0;
    background-color: #a749ff;
}

.product-list-image-wrap:hover .product-action>div,
.product-wrap:hover .product-action>div {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;

}

.MuiRating-icon svg {
    color: #faaf00 !important;
}

.product-list-image-wrap:hover .hover-img,
.product-wrap:hover .hover-img {
    visibility: visible;
    transform: translate(-50%);
    opacity: 1;
}

a,
button,
img,
input,
span {
    transition: all .3s ease 0s;
    text-decoration: none !important;
}

/* Blog section */
.blog-area {
    padding: 100px 0;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="FacebookIcon"] {
    color: steelblue !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="InstagramIcon"] {
    color: #c32aa3 !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="TwitterIcon"] {
    color: #57acee !important;
}

.col-lg-12 .mr-20 {
    margin-right: 20px;
}

.blog-wrap-2 {
    box-shadow: 0 3px 5px rgba(85, 85, 85, .2);
    margin-bottom: 30px;
}

.blog-wrap-2 .blog-img-2 {
    position: relative;
    overflow: hidden;
}

.blog-wrap-2 .blog-img-2 a img {
    width: 100%;
    transition: all .5s ease 0s;
    transform: scale(1);
}

.blog-wrap-2:hover .blog-img-2 img {
    transform: scale(1.1);
}

.blog-wrap-2 .blog-content-2 {
    padding: 25px 30px 34px;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 {
    display: flex;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 ul li {
    font-size: 14px;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: 0 17px 0 0;
    list-style: outside none none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
}

.blog-wrap-2 .blog-content-2 h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 20px;
    color: #333;
}

.blog-wrap-2 .blog-content-2 p {
    margin: 0;
    color: #666;
}
/* contact section */
.contact{
    padding: 100px 0;
}
.contact .container{
    padding: 0px;
}
/* footer section  */

footer {
    background: #000;
    padding-top: 80px;
    display: none;
}

.footer-data {
    text-align: center;
}

footer p.text {
    line-height: 28px;
    width: 55%;
    margin: 31px auto 33px;
    color: #fffefe;
}

.footer-social>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px !important;
}

.footer-social ul>li {
    list-style: none;
    line-height: 1;
    position: relative;
    margin: 0 23px;
}

.footer-social ul>li::before {
    position: absolute;
    top: 50%;
    right: -30px;
    width: 16px;
    height: 2px;
    content: "";
    transform: translateY(-50%);
    background-color: #7c7b7b;
}

.footer-social ul>li>a {
    font-size: 16px;
    color: #e5e5e5;
}

.footer-bottom {
    position: relative;
    z-index: 9;
}

.copyright-2 {
    max-width: 590px;
    margin: auto;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
}

.copyright-2 p {
    line-height: 1;
    color: #fff;
    margin: 0px;
    font-weight: 400;
}

/* footer new section  */
.footer .container {
    background-color: #f6f6f8;
    position: relative;
    padding-bottom: 70px;
    padding-top: 100px;

}

.copyright {
    margin-bottom: 30px;
}

.copyright .footer-logo {
    margin-top: 41px;
    margin-bottom: 12px;
}

.copyright p,
.copyright p a {
    color: #313131;
}

.copyright p {
    letter-spacing: .9px;
}

.footer-widget {
    margin-bottom: 30px;
    margin-left: 30px;
}

.footer-widget .footer-title h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 16px;
    color: #313131;
}

ul {
    margin: 0;

    list-style: outside none none;
    padding: 0px !important;
}

.footer-widget .footer-list ul li {
    margin: 0 0 11px;
}

.footer-logo a {
    text-decoration: none;
}

.footer-widget .footer-list ul li a {
    text-decoration: none;
    letter-spacing: .3px;
    color: #5d5d5d;
}

.footer-widget .footer-list ul li a:hover {
    color: #a749ff;
}

.footer-widget .subscribe-style p {
    margin: 0 0 20px;
    color: #7a7a7a;
}

.footer-widget .subscribe-style .subscribe-form input {
    font-size: 13px;
    padding: 2px 10px 2px 0;
    color: #333;
    border: none;
    border-bottom: 2px solid #ebebeb;
    background: transparent;
    outline: none;
}

.clear {
    clear: both;
}

.footer-widget .subscribe-style .subscribe-form .clear button {
    font-size: 14px;
    line-height: 1;
    width: auto;
    height: auto;
    margin: 13px 0 0;
    padding: 0 0 1px;
    text-transform: uppercase;
    color: #313131;
    border: none;
    border-bottom: 2px solid #9b9b9c;
    background: none;
}

/* mediaQuery css start  */
@media screen and (max-width:1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        right: 0px;
        top: 0px;
        position: absolute;
    }

    header {
        display: block;
    }

    header nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        background-color: #fff;
        transition: .6s;
        transform: translateX(100%);
        z-index: 999;
        overflow: auto;
        height: 100%;
        /* background-color: #fff; */
        box-shadow: 0 0 87px 0 rgb(0 0 0 / 9%);

    }

    nav ul {
        flex-direction: column;
    }

    header .responsive_nav {
        /* width: calc(100% - 28px); */
        right: 0;
        margin-left: 60px;
        transform: translateX(0);
    }

    nav .nav-close-btn {
        color: black;
        position: absolute;
        top: 5px;
        left: 0rem;
        background: #000;
        right: auto;
    }

    .icons {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    nav ul li a {
        color: #000;
    }
}