@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* padding: 0 2rem; */
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
    margin: auto;

}

.Navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
}

.Navbar.colorChange {
    background-color: #fff;
    color: #555252;
}

.Navbar.colorChange svg,
.Navbar.colorChange a,
.Navbar.colorChange .logo img {
    color: #555252 !important;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-style: 1.8rem;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;


}

.logo {
    background-color: #171216;
    padding: 12px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.logo img {
    object-fit: cover;
}

.icons {
    cursor: pointer;
}

.icons svg {
    margin: 0 5px;
}

nav ul {
    margin: 0px !important;
    align-items: center;
    padding: 0px !important;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.active-style {
    border-bottom: 1px solid red;
    color: #696969;
}

nav ul li a:hover {
    color: #fff;

}

svg {
    color: #fff;
    margin: 0px 5px;
}

/* Banner section  */

.carousel-item {
    display: block !important;
    opacity: 1 !important;
}

.awssld__bullets {
    display: none !important;
}

div.position-absolute {
    top: 50%;
    left: 41%;
    color: #fffefe;
}

.awssld__content {
    background: none !important;
    display: block !important;

}

.awssld__container {

    padding-bottom: 48% !important;
}

/* Product section  */

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.cards {
    position: relative;
    width: 260px;
    height: 370px;
    cursor: pointer;
}

.cards img {
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
}

.description {
    position: absolute;
    z-index: 8;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    visibility: hidden;
    width: 90%;
    height: 85%;
    transition: all .4s ease 0s;
    transform: scale(.85);
    opacity: 0;
    background: hsla(0, 0%, 100%, .9) none repeat scroll 0 0;
}

.product-img-badges {
    position: absolute;
    z-index: 9;
    top: 12px;
    right: 12px;
}

.product-img-badges span {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
    padding: 3px 11px;
    color: #fff;
    border-radius: 3px;
}

.product-img-badges span.pink {
    background-color: #fa6bff;
}

.product-img-badges span.purple {
    background-color: #a749ff;
}

.product-content-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transition: all .4s ease 0s;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cards:hover .description {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.cards svg {
    color: #000;
    cursor: pointer;
}

.cards .icon svg {
    padding: 8px;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 3px;
    transition: all .4s ease-in-out;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: none;
    background-color: #a749ff;
}

.cards .icon svg:hover {
    background-color: #fa6bff;
}

/* Subscribe section */
.Subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 100px;

}

.Subscribe h1 {
    font-size: 48px;
    margin: 0 0 23px;
    color: #010101;
}

.Subscribe p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #696969;

}

.Subscribe form {
    width: 400px;
    margin: auto;
    margin-top: 35px;
}

.Subscribe form input {
    height: 46px;
    text-align: center;
    color: #333;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    background: transparent;
    outline: none;
}

input {
    font-size: 14px;
    width: 100%;
    color: #333;
    box-shadow: none;
}

.Subscribe form button {
    margin-top: 40px;
    font-weight: 500;
    line-height: 1;
    width: auto;
    height: auto;
    padding: 17px 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: none;
    background-color: #070508;
}

form button:hover {
    background-color: #a749ff;
}

/* product-details section  */

.product_details {
    margin: auto;
    margin-top: 144px;
    display: flex;
    align-items: center;
}

.product_details .top {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    background: #f7f7f7;
    padding: 26px;
    margin-bottom: 72px;
    font-weight: 500;
    color: #5b5858;
}
.top a{
    text-decoration: none;
}

.product_details .MuiRating-icon svg {
    color: #faaf00 !important;

}
.add_cart {
    display: flex;
    gap: 7px;
    margin: 20px 0px;
}
.add_cart input{
    justify-content: center;
    width: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}
.categories {
    margin: 29px 0px;
}
.details div.del {
    margin: 40px 0px;
    border-bottom: 1px solid;
}
.product-icon{
    display: flex;
    justify-content: space-between;
}
.product-icon ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.product-icon ul svg{
    color: #333;
}
/* footer section  */

footer {
    background: #000;
    padding-top: 80px;
}

.footer-data {
    text-align: center;
}

footer p.text {
    line-height: 28px;
    width: 55%;
    margin: 31px auto 33px;
    color: #fffefe;
}

.footer-social>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px !important;
}

.footer-social ul>li {
    list-style: none;
    line-height: 1;
    position: relative;
    margin: 0 23px;
}

.footer-social ul>li::before {
    position: absolute;
    top: 50%;
    right: -30px;
    width: 16px;
    height: 2px;
    content: "";
    transform: translateY(-50%);
    background-color: #7c7b7b;
}

.footer-social ul>li>a {
    font-size: 16px;
    color: #e5e5e5;
}

.footer-bottom {
    position: relative;
    z-index: 9;
}

.copyright-2 {
    max-width: 590px;
    margin: auto;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
}

.copyright-2 p {
    line-height: 1;
    color: #fff;
    margin: 0px;
    font-weight: 400;
}

/* mediaQuery css start  */
@media screen and (max-width:1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        right: 0px;
        top: 0px;
        position: absolute;
    }

    header {
        display: block;
    }

    header nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        background-color: #fff;
        transition: .6s;
        transform: translateX(100%);
        z-index: 999;
        overflow: auto;
        height: 100%;
        /* background-color: #fff; */
        box-shadow: 0 0 87px 0 rgb(0 0 0 / 9%);

    }

    nav ul {
        flex-direction: column;
    }

    header .responsive_nav {
        /* width: calc(100% - 28px); */
        right: 0;
        margin-left: 60px;
        transform: translateX(0);
    }

    nav .nav-close-btn {
        color: black;
        position: absolute;
        top: 5px;
        left: 0rem;
        background: #000;
        right: auto;
    }

    .icons {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    nav ul li a {
        color: #000;
    }
}